.container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 60vh; /* Hauteur = 100% de la fenêtre */
  background-color: #f3f4f6;
}

.rectangle {
  width: 300px;
  height: 60vh;;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Empêche l'image de dépasser du rectangle */
}

.imageGroupe {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste l’image sans la déformer, si elle est trop grande, elle sera recadrée */
  }

  .description {
    justify-content: right;
  }