.container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 300px;
  background-color: #c4dcdd;
  border-radius: 15px;
}

.container-img{
  display:block;
  overflow:hidden;  
  border-radius: 15px;
  justify-content: flex-end;
}
.container-img img{
  width:100%;
  height: 300px;
  display: flex;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.container-img:hover img{
  transform:scale(1.2);
}

.description {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  max-width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: right;
  margin: 20px;
  padding: 10px;
}

.txtapropos {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: justify;
  padding-top: 20px ;
  padding-left: 100px;
  padding-right: 100px;
}

.text-content {
  display: flex;
  flex-direction: column; /* Met le titre au-dessus */
  justify-content: space-evenly; /* Centre verticalement */
  align-items: center; /* Aligne le texte à gauche */
  width: 90%; /* Ajuste la largeur */
}

.titreapropos {
  display : flex;
  justify-content: flex-start;
  padding-left: 100px;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

