.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.swiper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.swiper-slide img {
  width: 90%; /* Ajuste la taille des images */
  max-width: 350px; /* Taille maximale */
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide img:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}

.carousel-wrapper {
  width: 100%;
  max-width: 100vw; /* Empêche le dépassement horizontal */
  overflow: hidden; /* Cache tout débordement */
}

.carousel-image {
  width: 90%;
  max-width: 350px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.carousel-image:hover {
  transform: scale(1.05);
}