.ad-page{
    display: fixed;
    background: rgb(231, 236, 238);
    flex-direction: column;
    margin-left: 250px;
    height: 100%;
}

.tableau-paiement{
    display: flex;
    height: 70vh;
    flex-direction: column;
    margin : 20px;
}
.bot-paiement{
    display: flex;
    height: 10vh;
    padding: 10px;
    justify-content: space-around;
}
.ad-titre{
    background-color: #f0f8ff;
    display: flex;
    padding: 20px;
    justify-content: baseline;
    align-items: flex-start;
    width: 100%;
    font-size:25px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 2px;
    height: 10vh;
}
.ad-contenu{
    display:flex;
    padding: 20px;
    width: 100%;
}