.ad-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ad-boxes{
    display: flex;
    flex-direction: column;
}

.ad-button{
    height: 60px;
    width: 210px;
    background-color: rgb(197, 228, 255);
    padding: 20px;
    border-radius: 5px;
}

.ad-button:hover{
    background: #86546979;
    transform: translateY(-5px);
}

.ad-button.active { /* Style pour le bouton sélectionné */
    background-color:#865469a5; /* Bleu */
    font-weight: bold;
}

.ad-contenu{
    background-color: #f0f8ff;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.semestre{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.ad-data{
    display: flex;
    align-items: center;
    height: 100%;

}

.ad-items-container{
    display: grid;
    grid-template-rows: repeat(3, auto); /* 3 lignes */
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px; /* Espacement entre les éléments */
}

.ad-items{
    display: flex;
    justify-content: center;
    }