.page {
  flex: 1;
  padding: 20px;
}

.Ad {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.ad-title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    z-index: 1;
    text-align: flex-start;
    letter-spacing: 2px;
}

.ad-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 100px;
    padding: 60px;
    justify-items: center;
    justify-content: center;
  }
  
.adhesion {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 110%;
    height: 300px;
    transition: transform 0.2s ease;
  }
  
.adhesion h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
.adhesion button {
    background: #1264c8;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
.adhesion button:hover {
    background: #865469;
  }
  
.adhesion:hover {
    transform: translateY(-5px);
  }

.description-text {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: justify;
  padding-top: 20px ;
  padding-left: 40px;
  padding-right: 40px;
  }
  
